:root {
  --caution-color: #ff8000;
  --ready-color: rgb(32, 167, 32);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ready-color: rgb(100, 219, 100);
  }
}

.common_edit_title {
  font-weight: 600;
  font-size: 35.2px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.common_grid {
  display: grid;
  width: fit-content;
  column-gap: 1em;
  row-gap: 0.5em;
  align-items: center;
  margin-bottom: 1em;
}

.common_grid > * {
  margin: 0px;
}

.incomplete_link {
  color: #ff3030;
}

.summary {
  color: var(--caution-color);
}

.summary.complete {
  color: var(--ready-color);
}

input[type="number"] {
  width: 5em;
}
