.common_edit_title {
  font-weight: 600;
  font-size: 35.2px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.common_grid {
  display: grid;
  width: fit-content;
  column-gap: 1em;
  row-gap: 0.5em;
  align-items: center;
  margin-bottom: 1em;
}

.common_grid > * {
  margin: 0px;
}

input[type="number"] {
  width: 5em;
}
