.ingredient_row {
  display: flex;
  align-items: center;
  width: 25em;
}

.ingredient_row > * {
  margin-right: 0.5em;
}

.ingredient_label {
  flex-grow: 1;

}
#ingredient_properties {
  grid-template-columns: repeat(3, auto);
}

input[type="number"] {
  width: 5em;
}
