.meal-content {
  margin-left: 2rem;
}

.ingredients_table {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(4, auto);
  column-gap: 1em;
  row-gap: 0.5em;
  align-items: center;
  margin-bottom: 1em;
}

.ingredients_table * {
  margin: 0px;
}

@media (width < 35em) {
  .ingredients_table {
    grid-template-columns: auto;
    row-gap: 0.25em;
  }
  .ingredients_table button {
    margin-bottom: 1em;
  }
}

input[type="number"] {
  width: 5em;
}

.ingredient_label {
  min-width: 100px;
}

.ingredients_added * .copy_dish {
  visibility: hidden;
}
