.meal-content {
  margin-left: 2rem;
}

.ingredients_table {
  grid-template-columns: repeat(4, auto);
}

.ingredient_label {
  min-width: 100px;
}

.ingredients_added * .copy_dish {
  visibility: hidden;
}

.dish_buttons {
  display: flex;
}

@media (width < 35em) {
  .ingredients_table {
    grid-template-columns: auto;
    row-gap: 0.25em;
  }
  .ingredients_table button {
    margin-bottom: 1em;
  }
  .dish_buttons {
    display: unset;
  }
}

#summary {
  grid-template-columns: repeat(2, auto);
}
